<center>

<h>Create New Playlist</h>
<form action="/playlists" method="post">
	<input type="text" placeholder="New Playlist" name="playlist[p_name]">
	<input type="submit" value="Create">
</form>
<p><%= @msg1 %></p>

<form action="/users/:id/profile" method="get">
	<input type="submit" value="Back">
</form>

</center>
